@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}

.nav-logo #gs {
    color: rgba(255, 1, 87, 1);
    font-size: 40px;
    padding: 40px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    width: 200px;
    padding-bottom: 150px;
}

.page-links {
    display: flex;
    flex-direction: column;
    margin-top: -650px;
    margin-left: 38px;
    list-style: none;
    gap: 2rem;
    font-size: 20px;
    
}

h2,h1,h3 {
    color: rgba(255, 1, 87, 1);

}

p {
    color: white;
    font-size: 14;

}

.lado-1 p {
    
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 474px;
    padding-top: 1rem;

}

.lado-1 h1 {
    
    display: flex;
    justify-content: center;
    margin-right: 90px;
    font-size: 1.4rem;
    
}

.lado-2  h2{
    
    margin-top: -400px;
    margin-left: 1250px;

    
}

.lado-2 p {
    margin-left: 1252px;
    width: 350px;
    padding-top: 1rem;
    
    

}

.lado-2 h3 {
    margin-left: 1250px;
    
    

}

footer ul {
    margin-top: -600px;
    padding-left: 10px;
    flex-direction: column;
    
    
}

li {
    padding-top: 15px;
    font-size: 20px;
}